{{#if events}}
    {{#each events}}
        {{#if rsvp.dismissed}}
        {{#if saved}}
        
    <div class="card event-card">

            <div class="card-body event-details-div">
                <div class="event-details-div-img">
                    <img src="{{imgthumb}}" class="event-details-img">
                </div>
                <div class="event-details-div-body">
                    <p class="event-details-text"><strong>{{artist}}</strong></p>
                    <p class="event-details-text">{{venue}}</p>
                    <p class="event-details-text">{{date}} at {{time}}</p>
                </div>
            </div>
            <div class="events-details-div-more-details panel-group">
                <div class="panel panel-default">
                    <div id="collapse{{_id}}" class="panel-collapse collapse">
                        {{#if supportact}}<p>Support Act(s): {{supportact}}</p>{{/if}}
                        {{!-- <p>Artist Information</p>
                        <p>Venue Website</p>
                        <p>Official Artist Website</p>
                        <p>Price: xxx</p>
                        <p>Time: xxx / Doors: xxx</p> --}}
                    </div>
                </div>
            </div>

            {{!-- Buttons Div --}}
            <div class="card-header btns-right-div">
                <a href="{{eventlink}}" target="_blank">
                    <button type="button" class="btn btns-left" id="btn-buy" data-id="{{_id}}">
                        {{ticketstatus}}
                    </button>
                </a>
                {{#if supportact}}<a data-toggle="collapse" href="#collapse{{_id}}">
                    <button type="button" class="btn btns-left" data-id="{{_id}}">
                        Support Acts
                    </button>
                </a>{{/if}}
                <button type="button" class="btn btns-left btn-notes" data-id="{{_id}}">
                    Add{{#if notes}}/View{{/if}} Notes
                </button>
                <button type="button" class="btn btns-right btn-going {{#if rsvp.going}} btn-success{{/if}}" data-id="{{_id}}">Going</button>
                <button type="button" class="btn btns-right btn-interested {{#if rsvp.interested}} btn-success{{/if}}" data-id="{{_id}}">Interested</button>
                <button type="button" class="btn btns-right btn-dismiss {{#if rsvp.dismissed}} btn-danger{{/if}}" data-id="{{_id}}">Dismiss</button>
            </div>

        </div>

        {{/if}}
        {{/if}}
    {{/each}}

{{else}}

    {{> help}}

{{/if}}